.pl{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
}

.pl-header{
    font-size: 40px;
    font-weight: 600;
}

.pl-text{
    margin: 20px 0px;
    font-size: 20px;
}
.pl-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width : 100%;
}